.wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.circle {
  /*width: 50px;*/
  /*height: 50px;*/
  background-color: darkolivegreen;
  border-radius: 50%;
}

.btn {
  width: 150px;
  height: 30px;
  display: inline-flex;
  margin: 10px;
  border-radius: 5px;
  box-sizing: content-box;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  border: 0;
  background-color: #89ca62;
}