.pacman {
    display: inline-block;
    width: 200px;
position: relative;
/*/transform: rotate(0);*/
/*transform-origin: center;*/
/*/animation: move-pacman 10s linear infinite;/*/
}
.head-top {
    position: relative;
    width: 200px;
    height: 100px;
    background: yellow;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    transform: rotate(-25deg);
    transform-origin: bottom center;
    animation: open-top 0.5s linear infinite alternate-reverse;
}
.eye {
    position: absolute;
    left: 100px;
    top: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}
.blick {
    position: relative;
    left: 15px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}
.head-bottom {
    width: 200px;
    height: 100px;
    background: yellow;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: rotate(25deg);
    transform-origin: top center;
    animation: open-bottom 0.5s linear infinite alternate-reverse;
}
@keyframes open-top {
    from {
        transform: rotate(-25deg);
    }
    to {
        transform: rotate(0);
    }
}
@keyframes open-bottom {
    from {
        transform: rotate(25deg);
    }
    to {
        transform: rotate(0);
    }
}
