.price-span {
  /*width: 50px;*/
  /*height: 50px;*/
  color: green;
}
.current-price-field {
  width: 200px;
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 20px;
  text-align: right;
}

.del-btn {
  margin: 0 5px;

  border-radius: 50%;
  background-color: #fff;
  border: 1px solid grey;
  color: grey;
}

.price-field {
  width: 50px;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
}