.image-to-show {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 4;
  /*display: none;*/
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  width: 100px;
  height: 40px;
  position: fixed;
  top: 410px;
  left: 10px;
  background-color: teal;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.stop {
  top: 410px;
  left: 10px;
}

.start {
  top: 410px;
  left: 150px;
}